[submodule "ScreenCaptureLib"]
	path = ScreenCaptureLib
	url = https://github.com/kesa0v0/ScreenCaptureLib
[submodule "TabletLink-Windows"]
	path = TabletLink-Windows
	url = https://github.com/kesa0v0/TabletLink-Windows
[submodule "TabletLink-Android"]
	path = TabletLink-Android
	url = https://github.com/kesa0v0/TabletLink-Android